@import "theme.css";
@import './sections/header.css';
@import './sections/about-me.css';
@import './sections/skills.css';
@import './sections/project.css';
@import './sections/footer.css';

*{
    box-sizing: border-box;
}

:root{
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
    letter-spacing: var(--p-letter-spacing);
}